{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class="mb-5">
        {{ form_start(form) }}
            #{{form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}