{% extends 'base.html.twig' %}

{% block title %}Liste d'appareils{% endblock %}

{% block body %}
    <h1>Appareils photo</h1>

    <div class="row justify-content-end">
        <div class="col-1">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#filter">
                Filtre
            </button>
        </div>
    </div>


    <div class="modal fade" id="filter" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filter</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        {% for camera in list %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <img class="card-img-top" src="../img/{{ camera.manufacturer.manufacturer }}/{{ camera.CameraName }}/camera.jpg" />
                    <div class="card-body">
                        <h5 class="cart-title">{{ camera.manufacturer.manufacturer ~ " " ~ camera.CameraName }}</h5>
                        <p class="card-text">{{ camera.description }}</p>
                        <a href="{{ path('app_camera', { 'id': camera.id }) }}" class="btn btn-warning">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row justify-content-end mt-2">
        <nav class="col-2">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{ path('app_cameras_page', { 'id': 1 }) }}"><span>&laquo;</span></a><li>
                <li class="page-item"><a class="page-link" href="{{ path('app_cameras_page', { 'id': ( id - 1 )}) }}">{{ (id - 1) }}</a><li>
                <li class="page-item"><a class="page-link" href="{{ path('app_cameras_page', { 'id': id }) }}">{{ id }}</a><li>
                <li class="page-item"><a class="page-link" href="{{ path('app_cameras_page', { 'id': ( id + 1) }) }}">{{ (id + 1) }}</a><li>
                <li class="page-item"><a class="page-link"><span>&raquo;<span></a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block menu %}
    <a class="nav-link text-warning" href="{{ path('app_add_new_camera') }}">Ajouter un nouveau appareil</a>
    <a class="nav-link text-warning" href="{{ path('app_add_new_category') }}">Ajouter une nouvelle catégorie</a>
    <a class="nav-link text-warning" href="{{ path('app_add_new_manufacturer') }}">Ajouter une nouveau fabricant</a>
    <a class="nav-link text-warning" href="{{ path('app_add_new_monture') }}">Ajouter une nouvelle monture</a>
{% endblock %}