{% extends 'base.html.twig' %}

{% block title %}Liste d'appareils{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item">                
                <a class="nav-link" href="{{ path('app_add_new_camera') }}">Ajouter un nouveau appareil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_add_new_category') }}">Ajouter une nouvelle catégorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_add_new_manufacturer') }}">Ajouter une nouveau fabricant</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_add_new_monture') }}">Ajouter une nouvelle monture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#filter">Filtre</a>
            </li>
        </ul>
    </nav>
    
    <h1>Appareils photo</h1>

    <div class="modal fade" id="filter" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filter</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        {% for camera in list %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                {% if camera.image != "" %}
                        <img class="card-img-top" src="{{ asset('img/' ~ camera.image) }}" />
                {% else %}
                        <img class="card-img-top" src="{{ asset('img/' ~ 'camera_default.svg') }}" />
                {% endif %}
                    <div class="card-body">
                        <h5 class="cart-title">{{ camera.manufacturer.manufacturer ~ " " ~ camera.CameraName }}</h5>
                        <p class="card-text">{{ camera.description }}</p>
                        <a href="{{ path('app_camera', { 'id': camera.id }) }}" class="btn btn-warning">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% if numberPages > 1 %}
        <div class="row justify-content-end mt-2 mb-5">
            <nav class="col-3">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="{{ path('app_cameras_page', { 'id': 1 }) }}"><span>&laquo;</span></a><li>
                    
                    {% if id < 4 %}
                        {% set start = 1 %}
                    {% else %}
                        {% set start = id - 2 %}
                    {% endif %}
                    {% if numberPages - 2 > id %}
                        {% set stop = id + 2 %}
                    {% else %}
                        {% set stop = numberPages %}
                    {% endif %}

                    {% for i in start..stop %}
                        <li class="page-item"><a class="page-link" href="{{ path('app_cameras_page', { 'id': i }) }}">{{ i }}</a><li>
                    {% endfor %}

                    <li class="page-item"><a class="page-link" href="{{ path('app_cameras_page', { 'id': numberPages }) }}"><span>&raquo;<span></a></li>
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}