{% extends 'base.html.twig' %}

{% block title %}{{ camera.manufacturer.manufacturer ~ " " ~ camera.CameraName }}{% endblock %}

{% block body %}
    <h1>{{ camera.manufacturer.manufacturer ~ " " ~ camera.CameraName }}</h1>
    <div>
        {{ camera.category.category }}
        {{ camera.sensor }}
        {% for monture in camera.monture %}
            {{ monture.monture }}
        {% endfor %}
        {{ camera.Length }}
        {{ camera.width }}
        {{ camera.height }}
        {{ camera.weight }}
        {{ camera.time }}
        {{ camera.description }}
    </div>
    <div>
        <a href="{{ path("app_cameras") }}">Retour à la liste</a>
        <a href="{{ path('app_modify_camera', { 'id': camera.id }) }}">Modifier</a>
        <a href="{{ path('app_delete_camera', { 'id': camera.id }) }}">Effacer</a>
    </div>

    {{ form_start(form) }}
    {{ form_end(form) }}

    <ul>
    {% for comment in comments %}
        <li>{{ comment.userId.username }}{{ comment.comment }}</li>
    {% endfor %}
    </ul>

{% endblock %}