{% extends 'base.html.twig' %}

{% block title %}Forum - {{ currentTheme.theme }}{% endblock %}

{% block body %}
    <h1>{{ currentTheme.theme }}</h1>

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_forum', { 'id': 1, 'page': 1, 'mpage': 1 }) }}">Forum</a></li>
        {% for item in breadcrumb %}
            <li class="breadcrumb-item"><a href="{{ path('app_forum', { 'id': item.id, 'page': 1, 'mpage': 1 }) }}">{{ item.theme }}</a></li>
        {% endfor %}
        </ol>
    </nav>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="row justify-content-end">
            <div class="col-3">
                <a class="btn btn-warning" href="{{ path('app_forum_add_theme', { 'id': currentTheme.id }) }}">
                    Ajouter un nouveau theme
                </a>
            </div>
            <div class="col-2">
                <a class="btn btn-warning" href="{{ path('app_forum_add_message', { 'theme': currentTheme.theme }) }}">
                    Nouveau message
                </a>
            </div>
        </div>
    {% endif %}
    
    <div class="row">
        <ul class="list-group col-12 mt-2">
            {% for theme in list %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('app_forum', { 'id': theme.id, 'page': 1, 'mpage': 1 }) }}">{{ theme.theme }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Il y a {{ themes[theme.theme] }} fils et {{ number[theme.theme] }} messages dans ce fil. 
                            {% if lastmessages[theme.theme] is defined %}
                                Le dernier message a été  ajouté le {{ lastmessages[theme.theme].added|date("d/m/y") }} à {{ lastmessages[theme.theme].added|date("h:m:s") }} par {{ lastmessages[theme.theme].user.username }}
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if plist > 1 %}
        <div class="row justify-content-end mt-2">
            <nav class="col-3">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="{{ path('app_forum', { 'id': currentTheme.id, 'page': 1, 'mpage': 1 }) }}"><span>&laquo;</span></a><li>
                    {% if page < 4 %}
                        {% set start = 1 %}
                    {% else %}
                        {% set start = page - 2 %}
                    {% endif %}
                    {% if plist - 2 > page %}
                        {% set stop = page + 2 %}
                    {% else %}
                        {% set stop = plist %}
                    {% endif %}

                    {% for i in start..stop %}
                        <li class="page-item"><a class="page-link" href="{{ path('app_forum', { 'id': currentTheme.id, 'page': i, 'mpage': 1 }) }}">{{ i }}</a><li>
                    {% endfor %}

                    <li class="page-item"><a class="page-link" href="{{ path('app_forum', { 'id': currentTheme.id, 'page': plist, 'mpage': 1 }) }}"><span>&raquo;<span></a></li>
                </ul>
            </nav>
        </div>
    {% endif %}

    <div class="row">
        <ul class="list-group col-12 mt-2">
            {% for message in messages %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2 border-right">
                            <div class="font-weight-bold">{{ message.user.username }}</div>
                            <div>
                            {% if message.user.avatar !="" %}
                                <img width="64px" src="{{ asset('img/avatars/' ~ message.user.avatar) }}" />
                            {% else %}
                                <img width="64px" src="{{ asset('img/avatars/' ~ 'avatar_default.png') }}" />
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    {{ message.message }}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-sm btn-warning" href="{{ path('app_forum_modify_message', { 'id': message.id }) }}">Modifier le message</a>
                                        <a class="btn btn-sm btn-danger" href="{{ path('app_forum_delete_message', { 'id': message.id }) }}">Effacer le message</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 font-weight-light small">
                                    Publié le <span class="font-italic">{{ message.added|date('d/m/y') }}</span> à <span class="font-italic">{{ message.added|date('h:m:s') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if mlist > 1 %}
        <div class="row justify-content-end mt-2">
            <nav class="col-3">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="{{ path('app_forum', { 'theme': theme, 'page': 1, 'mpage': 1 }) }}"><span>&laquo;</span></a><li>
                    
                    {% if mpage < 4 %}
                        {% set start = 1 %}
                    {% else %}
                        {% set start = mpage - 2 %}
                    {% endif %}
                    {% if mlist - 2 > mpage %}
                        {% set stop = mpage + 2 %}
                    {% else %}
                        {% set stop = mlist %}
                    {% endif %}

                    {% for i in start..stop %}
                        <li class="page-item"><a class="page-link" href="{{ path('app_forum', { 'theme': theme, 'page': 1, 'mpage': i }) }}">{{ i }}</a><li>
                    {% endfor %}

                    <li class="page-item"><a class="page-link" href="{{ path('app_forum', { 'theme': theme, 'page': 1, 'mpage': mlist }) }}"><span>&raquo;<span></a></li>
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}