{% extends 'base.html.twig' %}

{% block title %}{{ lens.manufacturer.manufacturer ~ " " ~ lens.name }}{% endblock %}

{% block body %}
    <div class="row justify-content-between mt-2">
        <div class="col-lg-2">
            <a  class="btn btn-sm btn-warning" href="{{ path("app_lenses") }}">Retour à la liste</a>
        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="col-lg-2">
                <a class="btn btn-sm btn-warning" href="{{ path('app_modify_lens', { 'id': lens.id }) }}">Modifier</a>
                <a class="btn btn-sm btn-danger" href="{{ path('app_delete_lens', { 'id': lens.id }) }}">Effacer</a>
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
            <h1>{{ lens.manufacturer.manufacturer ~ " " ~ lens.name }}</h1>
        
    </div>
    <div class="row justify-content-center">
        <div>
            <img src="../img/{{ lens.manufacturer.manufacturer }}/{{ lens.name }}/lens.jpg" />
        </div>
    </div>
    <div class="row justify-content-center">
        {{ lens.length }}
        {{ lens.monture.monture }}
        {{ lens.diameter }}
        {{ lens.weight }}
        {{ lens.focallengthmin }}
        {{ lens.focallengthmax }}
        {{ lens.focuse }}
        {{ lens.diameteroffilter }}
        {{ lens.description }}
        {% for manufacturer in lens.forManufacturer %}
            {{ manufacturer.manufacturer }}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <ul class="list-group col-12">
        {% for comment in comments %}
            <li class="list-group-item">
                <h6>{{ comment.userId.username }}</h6>
                <div>{{ comment.comment }}</div>
                <div><i>{{ "Ajouté le " ~ comment.added|date('Y-m-d') ~ " à " ~ comment.added|date('H:m:s')}}</i></div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}