{% extends 'base.html.twig' %}

{% block title %}{{ lens.manufacturer.manufacturer ~ " " ~ lens.name }}{% endblock %}

{% block body %}
    <div class="row justify-content-between mt-2">
        <div class="col-lg-2">
            <a  class="btn btn-sm btn-warning" href="{{ path("app_lenses_page", { 'id': 1 }) }}">Retour à la liste</a>
        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="col-lg-2">
                <a class="btn btn-sm btn-warning" href="{{ path('app_modify_lens', { 'id': lens.id }) }}">Modifier</a>
                <a class="btn btn-sm btn-danger" href="{{ path('app_delete_lens', { 'id': lens.id }) }}">Effacer</a>
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
            <h1>{{ lens.manufacturer.manufacturer ~ " " ~ lens.name }}</h1>
        
    </div>
    <div class="row justify-content-center">
        <div>
            <img src="../img/{{ lens.manufacturer.manufacturer }}/{{ lens.name }}/lens.jpg" />
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-4">
            <div class="col-12"><span class="font-weight-bold">Longeur : </span>{{ lens.length }}</div>
            <div class="col-12"><span class="font-weight-bold">Monture : </span>{{ lens.monture.monture }}</div>
            <div class="col-12"><span class="font-weight-bold">Diametre : </span>{{ lens.diameter }}</div>
            <div class="col-12"><span class="font-weight-bold">Poids : </span>{{ lens.weight }}</div>
            <div class="col-12"><span class="font-weight-bold">Focal min : </span>{{ lens.focallengthmin }}</div>
            <div class="col-12"><span class="font-weight-bold">Focal max : </span>{{ lens.focallengthmax }}</div>
            <div class="col-12"><span class="font-weight-bold">MAP : </span>{{ lens.focuse }}</div>
            <div class="col-12"><span class="font-weight-bolds">Diametre de filtre : </span>{{ lens.diameteroffilter }}</div>
            <div class="col-12"><span class="font-weight-bolds">Pour fabricant(s) : </span>
                {% for manufacturer in lens.forManufacturer %}
                    {{ manufacturer.manufacturer }}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            {% if lens.image != "" %}
                <img src="{{ asset('img/' ~ lens.image) }}" />
            {% else %}
                Pas d'image
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        {{ lens.description }}
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-warning" href="{{ path('app_forum', { 'theme': lens.name, 'page': 1, 'mpage': 1 }) }}">Forum</a>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <ul class="list-group col-12">
        {% for comment in comments %}
            <li class="list-group-item">
                <h6>{{ comment.userId.username }}</h6>
                <div>{{ comment.comment }}</div>
                <div><i>{{ "Ajouté le " ~ comment.added|date('Y-m-d') ~ " à " ~ comment.added|date('H:m:s')}}</i></div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}