{% extends 'base.html.twig' %}

{% block title %}Liste d'utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>
    <a class="btn btn-primary btn-sm mb-2" href="{{ path('app_admin') }}">Retourn au tableau de bord</a>
    <ul class="list-group">
        {% for user in list %}
            <li class="list-group-item">
                {{ user.username }}
                <a class="btn btn-sm btn-primary" href="{{ path('app_modify_user', {'id': user.id}) }}">Modifier</a>
                <a class="btn btn-sm btn-primary" href="{{ path('app_set_admin', {'id': user.id}) }}">Rendre Administrateur</a>
                <a class="btn btn-sm btn-danger" href="{{ path('app_delete_user', {'id': user.id}) }}">Effacer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}